# This playbook install all needed components for the setup. 
#
# Copyright (c) 2013 Fabian Affolter <fabian@affolter-engineering.ch>
#
# Licensed under CC BY 3.0. All rights reserved.
#
---
# Archiver tools
- name: install unzip packages
  command: /sbin/apk add unzip



# Folder and files
- name: create the 'webapps' directory
  file: path=/usr/share/webapps/
        owner=root
        group=root
        mode=0777
        state=directory
