<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Lighttpd is up and running...</title>
</head>
<body>
    <center>
    <h3>Lighttpd is running on {{ ansible_distribution }} {{ ansible_distribution_version }}.</h3>
    <p>Please replace this page as soon as possible with your content.</p>
    </center>
</body>
</html>
