# This file is maintained by Ansible. Manual changes are possible but not 
# recommanded. If you still want to change the mirror, use 'setup-apkrepos'
# to perform the task.

http://mirror1.hs-esslingen.de/pub/Mirrors/alpine/v{{ alpine_release }}/main
